* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Full-page background image */
    background: url("./src/bg-image.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Main Container */
.container {
    border: 0.5px solid black;
    border-radius: 20px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(41, 218, 212, 0.85);

    /* responsive width */
    width: 90%;
    max-width: 400px;
}

.container h1 {
    font-size: 1.6rem;
    margin-block: 12px;
    text-align: center;
}

/* Password Box */
.passBox {
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-size: 18px;
    margin-block: 8px;
}

/* Rows */
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 8px;
    width: 100%;
}

.row p,
.row label {
    flex-basis: 100%;
    font-size: 18px;
}

.row input[type="checkbox"] {
    height: 20px;
    width: 16px;
}

/* Button */
.GenBtn {
    border: none;
    outline: none;
    background-color: #2459a8;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-block: 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    width: 100%;
}

.GenBtn:hover {
    background-color: #002760;
}

/* Input Box & Copy Icon */
.inputBox {
    position: relative;
    width: 100%;
}

.inputBox i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .container h1 {
        font-size: 1.3rem;
    }

    .passBox {
        font-size: 16px;
        padding: 8px;
    }

    .row p,
    .row label {
        font-size: 16px;
    }

    .GenBtn {
        font-size: 16px;
        padding: 10px;
    }
}


@media (max-width: 768px) {
    .container {
        padding: 24px;
    }

    .container h1 {
        font-size: 1.4rem;
    }

    .passBox {
        font-size: 17px;
    }

    .GenBtn {
        font-size: 17px;
        padding: 12px;
    }
}
